tr {
    height: 33%;
    border: 1px solid silver;
    user-select: none;
}
td {
    width: 33%;
    border: 1px solid silver;
    padding: 0;
    text-align: center;
    font-size: x-large;
}
table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.container {
    max-width: 420px;
    max-height: 420px;
    height: 100vw;
    border: 3px solid black;
}
.fixed-cell {
    background-color: lavender;
    color: darkblue;
    font-weight: bold;
}
.blank-cell {
    background-color: snow;
    color: silver;
    font-weight: 400;
}

.darker {
    background-color: blanchedalmond;
}

.fixed-cell.darker {
    background-color: bisque;
}

.set-cell {
    background-color: lightpink;
    color: red;
    font-weight: 400;
}
.invalid-cell {
    background-color: orange;
    color: red;
    font-weight: bold;
}
.cell {
    transition: background-color .5s, color .5s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main {
    width: 100%;
    user-select: none;
}

.tip {
    display: none;
}
.tip.active {
    display: inherit;
}
.scroller {
    height: 40px;
    padding: 10px;
    border-top: 1px solid #ebebff;
    border-bottom: 1px solid #d1d1e5;
}

@media screen and (max-width: 420px) {
    .container {
        border: 0;
    }
    body {
        margin: 0;
    }
    tr {
        border: 0;
    }
    table {
        border: 0;
    }
    .subtable {
        border: 1px solid black;
    }
}

@media screen and (max-width: 150px) {
    .container {
        border: 0;
    }
    body {
        margin: 0;
    }
    tr {
        border: 0;
    }
    td {
        border: 0;
    }
    table {
        border: 0;
    }
    .subtable {
        border: 0;
    }
    .title {
        display: none;
    }
    .scroller {
        border: 0;
    }
    .cell {
        font-size: 9px;
        cursor: default;
    }
}

